img{
    margin-left: 250px;
}
#navbarNav{
    justify-content:center;
    margin-left: 350px;
}
.grid-container{
    display: grid;
    background-color: white;
    margin-right: 25px;
}

.grid-container > div{
    background-color:white;
    text-align: center;
    font-size: 30px;
}
#column6{
    background-color: brown;
    padding:85px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 30px;
    font-size: 19px;
    text-align: left;
}

#column3{
    background-color: brown;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    text-align: left;
}
#column10-1{
    background-color: white;
    padding: 50px;
    margin-top: 70px;
    margin-bottom: -80px;
    text-align: left;
}
#column10-2{
    background-color: white;
    margin-top: 10px;
    text-align: left;
}
#column2-2{
    background-color: brown;
    padding: 150px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 50px;
}
#column2-1{
    background-color: brown;
    border-top-left-radius: 60px;
    border-top-right-radius: 50px;
}
#column1{
    background-color: brown;
}

p{
    margin-left: 180px;
    padding-top: 30px;
    font-size: 50px;
}

#button1{
    border-radius: 30px;
    margin-left: 250px;
    padding: 10px;
    font-size: 20px;
    color: white;
}
#button1:hover{
    background-color: brown;
    border-color: brown;
}
#button2{
    border-radius: 40px;
    margin-left: 20px;
    padding: 10px;
    font-size: 20px;
}

#button2:hover{
    background-color: black;
    color: white;
}

li:hover{
    text-decoration:underline;
    text-decoration-color: brown;
    text-decoration-thickness: 2px;
}
